- var productos = products 

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
      h1 Productos  
      for product in productos
        div
          img(src=product.imagen, alt="")
          h1=product.nombre 
          p=product.precio

      
