- var productos = products 

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 Producto
    img(src=products.imagen, alt="")
    h2=products.nombre 
    p=products.precio 
    